<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>TCC Andre WEB</title>
</h:head>
<h:body>
<f:view>
	<h1>TCC Andre Silva Alves</h1>
	<hr/>
	<h:form id="frmTCCAndre" >
		<h:panelGrid columns="2">
			<h:outputLabel value="Latitude" for="latitude"/>
			<h:inputText id="latitude" label="Latitude" value="#{TCCAndreBean.aviso.latitude}" required="true"/>
			<h:outputLabel value="Longitude" for="longitude"/>
			<h:inputText id="longitude" label="Longitude" value="#{TCCAndreBean.aviso.longitude}"  required="true"/>
			
			<h:commandButton action="#{TCCAndreBean.solicitaDadosLocalizacao}" value="Solicita Dados"/>
		</h:panelGrid>
		<h:messages />
	</h:form>
	<hr/>
</f:view>
</h:body>
</html>
